<launch>
  <node pkg="rosserial_server" type="socket_node" name="rosserial_server" output="screen">
  </node>
  
  <include file="$(find mpu_6050_driver)/launch/imu_demo.launch"/>

  <!-- <node pkg="rviz" type="rviz" name="rviz"  output="screen"/> -->
  <!-- args="-d $(find landing_gear_tools)/rviz/imu_visualize.rviz" -->
</launch>