<?xml version="1.0"?>
<launch>

  <arg name="joint_state_publisher" default="false"/>
  <arg name="rviz" default="false"/>

  <param name="robot_description" command="xacro '$(find landing_gear_description)/urdf/tes.urdf.xacro'"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find landing_gear_gazebo)/worlds/empty.world" />
    <arg name="verbose" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <node name="delete_model" pkg="landing_gear_gazebo" type="delete_model.py"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y 1 -z 1 -model lg"/>


    <!-- load configuration -->
  <rosparam command="load" file="$(find landing_gear_gazebo)/config/config.yaml" />

  <!-- spawn controller -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/landing_gear" 
        args="base_leg_1_joint_position_controller base_leg_2_joint_position_controller
              base_leg_3_joint_position_controller 
              base_leg_1_link2_joint_position_controller
              base_leg_2_link2_joint_position_controller
              base_leg_3_link2_joint_position_controller
              joint_state_controller
              "/>
<group if="$(arg joint_state_publisher)">
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui">
  </node>
</group>
  

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <!-- <remap from="robot_description" to="different_robot_description" /> -->
    <remap from="joint_states" to="/landing_gear/joint_states" />
  </node>
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find landing_gear_description)/rviz/landing_gear.rviz" required="true" />
  </group>
  <node name="joint_forwarder" pkg="landing_gear_gazebo" type="joint_forwarder.py" output="screen"/>
</launch>